<div class="main">
  <app-header></app-header>

  <div class="content">
    <form class="form" action="#" [formGroup]="employeeForm" (submit)="save($event)">
      <div class="form-head">Employee Payroll form</div>
      <div class="row">
        <label class="label text" for="name">Name</label>
        <input class="input" formControlName="name" type="text" id="name" name="name" placeholder="Your name.."
          required>
      </div>
      <div class="error" *ngIf="employeeForm.controls['name'].invalid && employeeForm.controls['name'].touched">
        {{ getErrorMessage(employeeForm.controls['name'], 'name') }} </div>
      <div class="row">
        <label class="label text" for="profileUrl">Profile image</label>
        <div class="profile-radio-button">
          <label *ngFor='let profile of profileArray'>
            <input type="radio" formControlName="profileUrl" name="profileUrl" [value]="profile.url" required>
            <img class="profile" [src]="profile.url">
          </label>
        </div>
      </div>
      <div class="error"
        *ngIf="employeeForm.controls['profileUrl'].invalid && employeeForm.controls['profileUrl'].touched">
        {{ getErrorMessage(employeeForm.controls['profileUrl'], 'profile') }} </div>
      <div class="row">
        <label class="label text" for="gender">Gender</label>
        <div>
          <input type="radio" id="male" formControlName="gender" name="gender" value="male" required>
          <label class="text" for="male">Male</label>
          <input type="radio" id="female" formControlName="gender" name="gender" value="female">
          <label class="text" for="female">Female</label>
        </div>
      </div>
      <div class="error" *ngIf="employeeForm.controls['gender'].invalid && employeeForm.controls['gender'].touched">
        {{ getErrorMessage(employeeForm.controls['gender'], 'gender') }} </div>
      <div class="row">
        <label class="label text" for="department">Department</label>
        <div>
          <span *ngFor="let item of allDepartment">
            <input class="checkbox" type="checkbox" (change)="onCheckChange(item)" [name]="item"
              [checked]="getChecked(item)" [value]="item">
            <label class="text" [for]="item">{{item}}</label>
          </span>
        </div>
      </div>
      <div class="error" *ngIf="!departMentValid">
        department is required field
      </div>
      <div class="row">
        <label class="label text" for="salary">Salary</label>
        <input class="input" type="number" formControlName="salary" id="salary" name="salary" placeholder="Salary"
          required>
      </div>
      <div class="error" *ngIf="employeeForm.controls['salary'].invalid && employeeForm.controls['salary'].touched">
        {{ getErrorMessage(employeeForm.controls['salary'], 'salary') }} </div>
      <div class="row">
        <label class="label text" for="startDate">Start Date</label>
        <div>
          <select formControlName="day" id="day" name="Day">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
          </select>
          <select formControlName="month" id="month" name="Month">
            <option value="Jan">January</option>
            <option value="Feb">Febuary</option>
            <option value="March">March</option>
            <option value="April">April</option>
            <option value="May">May</option>
            <option value="June">June</option>
            <option value="July">July</option>
            <option value="Aug">August</option>
            <option value="Sept">September</option>
            <option value="Oct">October</option>
            <option value="Nov">November</option>
            <option value="Dec">December</option>
          </select>
          <select formControlName="year" id="year" name="Year">
            <option value="2020">2020</option>
            <option value="2019">2019</option>
            <option value="2018">2018</option>
            <option value="2017">2017</option>
            <option value="2016">2016</option>
          </select>
        </div>
      </div>
      <div class="error"
        *ngIf="employeeForm.controls['day'] && (employeeForm.controls['day'].invalid || employeeForm.controls['month'].invalid || employeeForm.controls['year'].invalid) && (employeeForm.controls['day'].touched || employeeForm.controls['month'].touched || employeeForm.controls['year'].touched)">
        Date is required field </div>
      <div class="row">
        <label class="label text" for="notes">Notes</label>
        <textarea formControlName="notes" id="notes" class="input" name="Notes" placeholder=""
          style="height:100px"></textarea>
      </div>

      <div class="buttonParent">
        <a routerLink="" class="resetButton button cancelButton">Cancel</a>
        <div class="submit-reset">
          <button type="submit" class="button submitButton" id="submitButton">{{ isUpdate ?'Update':'Submit'}}</button>
          <button type="button" (click)="reset()" class="resetButton button">Reset</button>
        </div>
      </div>
    </form>
  </div>
</div>