<div>
  <app-header></app-header>
  <div class="flex-column content">
    <div class="emp-detail">
      <div class="detail-text">
        Employee Details <div class="count">{{employeeArray?.length}}</div>
      </div>
      <!-- <button onclick="addEmployee()" class="add-button flex-row-center">
            <img src="../assets/icons/add-24px.svg" alt="">
            Add User
        </button> -->
      <a routerLink="payroll-form" class="add-button flex-row-center"><img src="../assets/icons/add-24px.svg" alt="">
        Add User</a>

    </div>
    <div class="table-main">
      <app-display [employeeArray]="employeeArray" (employeeEvent)="updateEvent($event)" class="table-row"
        style="min-width: 100%;"></app-display>
    </div>
  </div>
</div>